@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal styles */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}

.text-primary {
  color: #ff900e;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #727272 !important;
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-size: 600;
  border: none;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > section {
  max-width: 60rem;
  gap: 7rem;
}

/* header styles */
header {
  padding-bottom: 1rem;
}

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-links {
  gap: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 60rem;
  margin: 0 auto;
}

/* banner related styles */
.banner-content {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}

.banner-title {
  font-weight: 700;
  font-size: 3rem;
}

.banner img {
  width: 60rem;
}

/* team and feature related styles */
.teams {
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.team-img-container > img {
  max-width: 15rem;
}

.teams .our-features {
  max-width: 30rem;
}

.feature-title {
  font-size: 2rem;
  font-weight: 700;
}

.quick-list {
  font-weight: 500;
}

/* experience-badge */
#experience-badge {
  padding: 3rem;
  font-size: 1rem;
  font-weight: 500;
  margin-left: -5rem;
  margin-top: -5rem;
}

#experience-year {
  font-size: 2rem;
  font-weight: 700;
}

.featured-architect img {
  width: 100%;
}

/* some facts related styles */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60rem;
}

.fact-card {
  border: 1px solid #ff900e;
  width: 10rem;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fact-number {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
  padding: 0;
}

.fact-name {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.fact-description {
  max-width: 30rem;
}

/* spnsor related styles */
.sponsor-info {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 0 15rem;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: grayscale(100%);
  height: 2rem;
}

/* features section related styles */
.features {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 1rem;
}

.feature-card {
  padding: 1rem 2rem;
  box-shadow: 0 4px 2rem 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 1rem;
  max-width: 40vw;
  min-width: 30vw;
}

.feature-card .feature-title {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.features div p {
  font-size: 0.8rem;
}

.features div img {
  max-width: 40vw;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .features,
  .teams {
    flex-direction: column;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner {
    width: 100%;
  }
  .banner > img {
    width: 100%;
  }

  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-img-container > img {
    width: 100%;
  }

  .facts-container {
    width: 100%;
    justify-items: center;
    gap: 2rem;
    text-align: center;
  }

  .sponsor-companies {
    gap: 3rem;
    width: 20rem;
  }
  .sponsor-info {
    width: 20rem;
    margin: auto;
  }

  #experience-badge {
    padding: 1rem;
    margin-top: 0;
    margin-left: 0;
    font-size: 0.5rem;
  }

  #experience-year {
    font-size: 1rem;
  }

  .features-img-container {
    width: 100%;
    justify-content: center;
  }
}

/* for tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* shared styles */
  main > section {
    gap: 5rem;
  }

  .banner {
    width: 100%;
  }

  .banner > img {
    width: 100%;
  }

  .teams {
    flex-direction: column;
  }

  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
  }

  .facts-container {
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    text-align: center;
  }

  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
  }

  .sponsor-info > p {
    width: 30rem;
  }
}
